html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: white;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url('../img/slider-one.png');
  background-repeat: no-repeat;
  background-position: center top;
}

.catalog-site-wrapper {
  background-color: #849d8f;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-size: 100% 656px;
  background-repeat: no-repeat;
  background-position: center top;
}

.header-menu-sub,
.header-search,
.header-login,
.header-basket,
.feedback,
.slider-second,
.slider-third {
  display: none;
}

.sprite {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}

.container {
  position: relative;
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
}

.header-layout {
  display: flex;
  justify-content: space-between;
  min-height: 73px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  min-height: 73px;
  justify-content: flex-start;
  outline: 1px solid blue;
}

.header-menu > a {
  align-self: flex-end;
  margin-right: auto;
  margin-left: -2px;
  padding: 0;
  width: 154px;
  height: 64px;
  outline: 1px solid green;
}

.header-menu-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  margin-left: auto;
  min-width: 420px;
  padding: 0;
  width: 350px;
  list-style: none;
  vertical-align: middle;
  outline: 1px solid red;
}


.header-menu-item > a {
  display: inline-block;
  min-width: 87px;
  height: 32px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  border-radius: 16px;
}

.header-menu-item > a:hover {
  color: #353535;
  background-color: white;

}


.header-menu ul,
.paginator,
.bread-crumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: middle;
}

.paginator {
  float: right;
  margin-top: 42px;
  margin-bottom: 30px;
  min-width: 190px;
  height: 26px;
}


.header-buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 262px;
  padding-top: 3px;
}

.header-btn {
  position: relative;
  border: none;
  height: 32px;
  min-width: 32px;
  padding-top: 10px;

  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.header-btn:hover {
  background-color: white;
  color: #353535;
}

.header-btn-search {
  background-position: -304px 3px;
}

.header-search {
  position: absolute;
  top: 59px;
  right: 230px;
  z-index: 10;
  width: 341px;
  height: 84px;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.header-buttons input {
  padding: 0 14px;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  line-height: 24px;
}

.header-search input {
  width: 313px;
  height: 46px;
}

.header-btn-search:hover {
  background-position: -330px 3px;
}

.header-btn-search:hover + .header-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-btn-user {
  padding-left: 28px;
  width: 93px;
}

.header-login {
  position: absolute;
  top: 59px;
  right: 125px;
  z-index: 10;
  width: 277px;
  height: 214px;
  padding: 20px;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.header-login input {
  width: 243px;
  height: 46px;
  margin-bottom: 20px;
}



.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-login-form button {
  display: inline-block;
  width: 100px;
  height: 44px;
}

.header-login-links {
  display: inline-block;
}

.header-login-form a {
  display: block;
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.header-btn-user::before {
  position: absolute;
  top: 8px;
  left: 19px;
  display: block;
  content: "";
  width: 21px;
  height: 19px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -252px -5px;
}

.header-btn-user:hover::before {
  background-position: -282px -5px;
}

.header-btn-basket {
  padding-left: 10px;
  width: 117px;
}

.header-btn-basket::before {
  position: absolute;
  top: 8px;
  left: 16px;
  display: block;
  content: "";
  width: 21px;
  height: 19px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -188px -5px;
}

.header-btn-basket:hover::before {
  background-position: -219px -5px;
}

.header-btn-user:hover + .header-login {
  display: flex;
}

.js-flex {
  display: flex;
}

.js-block {
  display: block;
}

.header-btn-basket:hover + .header-basket {
  display: block;
}

.header-basket {
  position: absolute;
  z-index: 10;
  top: 59px;
  right: 0px;
  padding: 20px;
  width: 539px;
  min-height: 242px;
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.header-basket table {
  border-collapse: separate;
  padding: 0;
  border-bottom: 1px solid #cacac7;
  margin-bottom: 5px;
}

.header-basket td {
  height: 53px;
  text-align: center;
}

.header-basket td:first-child {
  width: 20px;
  text-align: left;
}

.header-basket td:nth-child(2) {
  width: 46px;
  text-align: left;
}

.header-basket td:nth-child(3) {
  width: 248px;
  text-align: left;
}

.header-basket b {
  display: block;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: right;
}

.header-basket .btn {
  position: absolute;
  bottom: 20px;
  right: 20px;

}

.btn {
  display: block;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(rgb(242,104,67), rgb(231,74,53));
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 24px;
  box-shadow: 0px 2px 2px 0px #ac1000;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.main-info {
  position: absolute;
  top: 0px;
  right: 27px;
  width: 180px;
}
.main-info span {
  display: block;
  text-align: right;
  margin-bottom: 5px;
}

.info-timetable {
  font-size: 14px;
  line-height: 16px;
}

.info-phone {
  font-size: 22px;
  line-height: 22px;
}

.section-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.slider {
  position: relative;

  padding-top: 320px;

  text-align: center;
  color: #ffffff;
}


.slider-title {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 29px;
  width: 700px;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}


.slider-list {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 27px;
  bottom: 24px;
  width: 79px;

}

body > input[type="radio"] {
  display: none;
}

.slide {
  display: none;
}

#slider-one:checked ~ .site-wrapper label[for="slider-one"],
#slider-two:checked ~ .site-wrapper label[for="slider-two"],
#slider-three:checked ~ .site-wrapper label[for="slider-three"] {
  background-color: #ffffff;
}

#slider-one:checked ~ .site-wrapper .slide-first,
#slider-two:checked ~ .site-wrapper .slide-second,
#slider-three:checked ~ .site-wrapper .slide-third {
  display: block;
}

#slider-one:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url('../img/slider-one.png');
}

#slider-two:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url('../img/slider-two.png');
}

#slider-three:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url('../img/slider-three.png');
}

.slider-list label {
  display: block;
  height: 21px;
  width: 21px;
  content: "";
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.slider-list label:hover {
  background-color: rgba(255, 255, 255, 0.4);

}

.slider-list input:checked + label {
  background-color: white;
}

.slider-btn {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 64px;
  font-size: 32px;
  line-height: 64px;
  border-radius: 32px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}


.banners {
  position: relative;
  margin-top: 40px;
}


[class^="banners-"] {
  position: relative;
  padding: 16px 19px;
  min-height: 227px;
  width: 560px;
  border-radius: 15px;
}


.banners-left {
  color: #ffffff;
  background-color: #9b0c2a;
  background-image: url('../img/banner-raspberry.jpg');
}

.banners-right {
  color: #ffffff;
  background-color: #4c2f22;
  background-image: url('../img/banner-chocolate.jpg');

}

.banners h3 {
  margin: 0;
  padding: 0;
  padding-top: 9px;
  font-size: 35px;

}

.banners p {
  padding-top: 6px;
  font-size: 18px;
  line-height: 22px;
}

.banners .btn {
  position: absolute;
  right: 20px;
  bottom: 22px;
  width: 167px;
  line-height: 45px;
}

.banners-right .btn {
  width: 191px;
}

.catalog {
  position: relative;
  z-index: 2;
  font-size: 0;
  margin-top: 42px;
}

.catalog-item {
  position: relative;
  min-height: 322px;
  margin-bottom: 38px;
  width: 267px;
  font-size: 16px;
  vertical-align: top;
}

.catalog-item-hit::before {
  position: absolute;
  z-index: 3;
  display: block;
  height: 61px;
  width: 61px;
  content: "";
  background-image: url("../img/hit.png");
}

.catalog-item-price {
  position: absolute;
  z-index: 2;
  bottom: 62px;
  color: white;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price span {
  font-size: 30px;
  line-height: 45px;
}

.catalog-item img {
  position: relative;
  z-index: 2;
  border-radius: 50%;
}

.catalog-item-description {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  text-align: center;
}

.catalog-card {
  position: absolute;
  top: -6px;
  left: -13px;
  display: none;
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.3);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 293px;
  min-height: 405px;
}

.catalog-card a {
  position: absolute;
  bottom: 22px;
  left: 46px;
  width: 200px;
  padding-left: 0;
  padding-right: 0;
  min-height: 44px;
  line-height: 44px;
}

.catalog-item:hover .catalog-card {
  display: block;
}

.about-us {
  min-height: 306px;
  color: #323232;
  font-weight: 400;
  margin-top: -23px;
}

.about-us-layout {
  min-height: 306px;
  background-image: url("../img/description-bg.jpg");
  border-radius: 15px;
}

.about-us-def {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  font-size: 24px;
  font-weight: 500;
  word-spacing: 0.6px;
  line-height: 30px;
  margin-left: 21px;
  margin-top: 23px;
}

.about-us-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin-bottom: 0;
  margin-left: 21px;
  margin-right: 18px;

  margin-top: 11px;
  min-height: 190px;
  padding: 0;
  list-style: none;
}

.about-us-list li {
  display: flex;
  justify-content: space-between;
  width: 540px;
  min-height: 88px;
  margin: 0;
  padding: 0;
}

.about-us-list li:first-child div {
  background-position: -63px -6px;
}

.about-us-list li:nth-child(3) div {
  background-position: -180px -6px;
}

.about-us-list li:nth-child(2) div {
  background-position: -123px -6px;
}

.about-us-list li:last-child div {
  background-position: -6px -6px;
}

.about-us-list li p {
  margin-right: 9px;
}

.about-us-list li:nth-child(2n) {
  margin-left: auto;
}

.about-us-list p {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  width: 476px;
}

.about-us-image {
  width: 49px;
  height: 49px;
  background-image: url("../img/spritesheet-2.png");
}


.misc {
  margin-top: 39px;
}


.misc article {
  position: relative;
  min-height: 220px;
  width: 560px;
  color: #323232;
  border-radius: 15px;
}

.blog-news {
  padding: 22px 19px;
  background-color: white;
  background-image: url("../img/blog-news.jpg");
}

.blog-news h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  padding: 0;
  margin: 0;
}

.blog-news h3 {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  width: 300px;
  font-size: 24px;
  line-height: 30px;
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-image: url("../img/post-bg.png");
}

.subscribe-bg {
  margin: auto;
  padding-left: 22px;
  padding-top: 24px;
  padding-right: 21px;
  width: 549px;
  min-height: 211px;
  border-radius: 10px;
  background-color: white;
}

.subscribe p {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.subscribe-form {
  display: flex;
  margin-top: 34px;
  justify-content: space-between;
}

.subscribe-form input {
  width: 366px;
  height: 46px;
  padding: 0 14px;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  line-height: 24px;
}

.map {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 0;
  width: 1200px;
}

.map-image,
.map-image img {
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 430px;
}

.map-contacts {
  position: absolute;
  right: 27px;
  top: 63px;
  z-index: 1;

  width: 302px;
  min-height: 305px;
  padding-left: 26px;
  padding-top: 28px;

  color: #323232;
  border-radius: 15px;
  background-color: white;
}

.map-contacts span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.map-contacts b {
  display: block;
  font-size: 18px;
  line-height: 24px;
}

.map-contacts span:nth-of-type(2) {
  margin-top: 18px;
}
.map-contacts span:nth-of-type(3) {
  margin-top: 1px;
}

.map-contacts b:nth-of-type(2) {
  margin-top: 5px;
}

.map-contacts a {
  width: 252px;
  margin-top: 25px;
  line-height: 44px;
}

.page-footer .container {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 103px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 186px;

}

.social-btn {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  text-indent: -400px;
}

.social-btn:hover {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-btn:active {
  box-shadow: inset 0px 2px 1px 0px rgb(136, 136, 136);
}

.social-btn-vk {
  background-position: -600px -6px;
}

.social-btn-fb {
  background-position: -147px -6px;
}

.social-btn-tw {
  background-position: -558px -6px;
}

.social-btn-in {
  background-position: -392px -6px;
}

.footer-about-us {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: space-between;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  width: 310px;
  list-style: none;
}

.footer-about-us li {
  margin-left: 3px;
  min-width: 138px;
}

.footer-about-us a {
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-decoration: none;
}

.footer-about-us li:first-child a {
  font-weight: 700;
}

.footer-about-us li:first-child a::before {
  position: absolute;
  top: 5px;
  left: -20px;
  display: block;
  content: "";
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.png");
}

.footer-copyright {
  margin-left: 1px;
  min-width: 189px;
  height: 71px;
}

.footer-copyright span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.footer-copyright a {
  color: white;
  text-decoration: none;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 21px;
  width: 220px;
  list-style: none;
}

.breadcrumbs a {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}

.breadcrumbs li::after {
  display: inline;
  padding-left: 3px;
  content: "»";
  font-weight: 400;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.main-heading {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 25px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
}

.settings-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
  min-height: 133px;
  vertical-align: middle;
}

.settings-form input[type="radio"],
.settings-form input[type="checkbox"] {
  display: none;
}

.settings-form input[type="radio"] + span {
  margin-left: 17px;
  margin-right: 10px;
  width: 21px;
  height: 22px;
  background-position: -433px -5px;
}

.settings-form input[type="radio"]:checked + span {
  background-position: -464px -5px;
}

.settings-form input[type="radio"] + span:hover {
  background-position: -526px -5px;
}

.settings-form input[type="radio"]:checked + span:hover {
  background-position: -495px -5px;
}

.settings-form input[type="checkbox"] + span {
  margin-left: 24px;
  margin-right: 14px;
  width: 20px;
  height: 20px;
  background-position: -26px -5px;
}

.settings-form input[type="checkbox"]:checked + span {
  background-position: -56px -5px;
}

.settings-form input[type="checkbox"] + span:hover {
  background-position: -116px -5px;
}

.settings-form input[type="checkbox"]:checked + span:hover {
  background-position: -86px -5px;
}

.settings-form label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  vertical-align: middle;
}

.settings-price > div {
  padding-left: 18px;
  width: 216px;
}

.settings-fieldset b {
  display: block;
  margin-left: 15px;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.settings-fieldset > div:not([class]),
.range-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
  margin-right: 16px;
  padding-right: 20px;
  border-radius: 19px;
  background-color: rgba(255, 255, 255, 0.2);
}

.settings-form button {
  align-self: flex-end;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.188);
  width: 144px;
  height: 37px;
  border-radius: 18.5px;
  color: white;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.settings-form button:hover {
  background-color: white;
  color: #323232;
}


.settings-form button:active {
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
  color: #323232;
}

.settings-form select {
  height: 37px;
  margin-right: 16px;
  padding-left: 16px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  border-radius: 19px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.settings-form select:hover {
  background-color: white;
  color: #323232;
}

.settings-form option {
  color: #323232;
}


.settings-fieldset .settings-first {
  margin-left: 16px;
}

.price-controls {
  display: block;
}

.range-contols {
  position: relative;
  display: block;
}

.range-controls .scale {
  position: relative;
  height: 4px;
  width: 188px;
  background: rgba(255, 255, 255, 0.5);
  margin-left: 14px;
}

.range-controls .bar {
  height: 4px;
  margin-left: 26px;
  width: 107px;
  background: white;
}

.range-toggle {
  position: absolute;
  top: 30px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.range-toggle-min {
  left: 270px;
}

.range-toggle-max {
  left: 370px;
}

.paginator {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 46px;
  padding: 0;
  width: 190px;
}

.paginator a {
  display: block;
  width: 27px;
  height: 26px;
  color: white;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

}

.paginator a:not(.paginator-active):hover {
  color: white;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}


.paginator li:first-child a {
  opacity: 0.2;
  width: 22px;
  background-position: -640px -8px;
}

.paginator li:last-child a {
  transform: rotate(180deg);
  width: 22px;
  background-position: -640px -8px;
}

.paginator .paginator-active,
.paginator a:active {
  background-color: white;
  color: #000000;
  border-radius: 50%;

}

.page-header input:hover,
.subscribe-form input:hover {
  border: 2px solid #9a9a9a;
}

.page-header input:focus,
.subscribe-form input:focus {
  border: 2px solid #2e88e4;
}
