body {
  padding: 0;
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;

  background-color: #849d8f;
  background-image: url('../img/gllacy-index-1200.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  color: white;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

.header-layout > nav,
.header-layout > div {
  background-color: green;
  opacity: 0.5;

}

.container {
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
  outline: 1px solid black;
}

.page-header {

}

.header-layout {
  display: flex;
  justify-content: space-between;
  min-height: 73px;
}

.header-menu {
  flex-basis: 560px;
  outline: 1px solid green;
}

.header-menu-main {
  display: flex;
  outline: 1px solid red;
}

.header-menu-main li {
  outline: 1px solid blue;
  display: flex;
}

.header-menu-main li > a {

  color: white;
  text-decoration: none;
  outline: 1px solid white;

}

.header-menu ul,
.paginator,
.bread-crumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: middle;
  font-size: 0;
  outline: 1px solid blue;
}

.paginator {
  float: right;
  margin-top: 42px;
  margin-bottom: 30px;
  min-width: 190px;
  height: 26px;
}


.header-buttons {
  flex-basis: 267px;
  outline: 1px solid green;
}

.header-btn {
  display: inline-block;
  font-size: 14px;
}

.btn {
  display: block;
  text-align: center;
}

.header-menu-sub,
.header-search,
.header-login,
.header-basket,
.feedback,
.slider-second,
.slider-third {
  display: none;
}

.main-info {
  float: right;
  width: 180px;
}
.main-info span {
  display: block;
  text-align: right;
  margin-bottom: 4px;
}

.info-timetable {
  font-size: 14px;
  line-height: 16px;
}

.info-phone {
  font-size: 22px;
  line-height: 24px;
}

.slider {
  height: 535px;
}

.slider b {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 320px;
  width: 700px;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.slider-list {
  float: left;
  width: 80px;
}

.slider-btn {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

.banners {
  margin-top: 40px;
}

.container::after,
.about-us::after,
.banners::after,
.misc::after {
  display: table;
  content: "";
  clear: both;
}

[class^="banners-"] {
  float: left;
  margin-right: 26px;
  min-height: 227px;
  width: 560px;
}

[class^="banners-"]:last-child {
  margin-right: 0;
}

.catalog {
  font-size: 0;
  margin-top: 40px;
}

.catalog-item {
  display: inline-block;
  margin-right: 26px;
  margin-bottom: 40px;
  min-height: 322px;
  width: 267px;
  font-size: 16px;
  vertical-align: top;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item b {
  display: none;
}

.catalog-item p {
  margin: 0;
  padding: 0;
}

.about-us {
  min-height: 306px;
  margin-top: 40px;
  color: #323232;
  font-weight: 400;
}

div[class^="about-us-"] {
  float: left;
  width: 560px;
}

.about-us-def {
  margin-top: 0;
}

.about-us-right {
  margin-left: 26px;
}

.about-us img {
  position: absolute;
}

.misc {
  margin-top: 40px;
}

.misc article {
  float: left;
  min-height: 220px;
  width: 560px;
}

.subscribe {
  margin-left: 26px;
}

.map {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 1200px;
}

.map-contacts {
  position: absolute;
  right: 27px;
  top: 63px;
  z-index: 1;
  width: 302px;
  min-height: 305px;
  color: #323232;
  background-color: white;
}

.footer-social {
  float: left;
  width: 188px;
}


.footer-about-us {
  float: left;
  width: 328px;
}

.footer-copyright {
  float: right;
  width: 189px;
}

.settings {
  min-height: 134px;
}
